$theme-colors: (
  "success": #98971a
);

@import "node_modules/bootstrap/scss/bootstrap";

.pad-mobile {
  box-sizing: border-box;

  @media screen and (max-width: 500px) {
    padding: 1rem;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-height {
  transition: 0.2s;
  height: 0px !important;
}

.alert {
  p {
    margin: 0;
  }
}
